<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I work at the interaction of natural language processing and human-computer interaction, focusing on how people interact with, interpret, and are shaped by large language models (LLMs) behavior.
      Broadly, my work examines LLM evaluation, human-AI interaction, and discourse analysis to ask how language technologies mediate reasoning, feedback, identity, and decision-making in real-world contexts.
    </p>

    <p>
      I am especially interested combining empirical evaluation with interaction design to build and study language systems that are interpretable, socially grounded, and human-centered. Across research and teaching, I aim to bridge computational methods with social sciences to better align AI systems with human lived experiences.
    </p>

    <p>
      Previously, I graduated Phi Beta Kappa honors with a B.S. in Computer Science, a B.A. in Econometrics, and a minor in Math from Providence College.
    </p>

{#    <p>#}
{#      I competed in Hackathons throughout high school and college. <strong>Fun fact:</strong> I knew of UMD since hacking at Technica in sophomore year of high school!#}
{#    </p>#}

    <!-- {% include employment-status.html %} -->
  </div>
</section>
