<header class="intro">
  <h1 class="intro__hello"> Xin chào
    <span class="emoji wave-hand animated"></span>
  </h1>

  <div class="intro__content">
    <h2 class="intro__tagline">I go by
      <span class="name">Kem</span>!  But I publish under my legal Vietnamese name, Phuong-Anh Nguyen-Le.
      I am currently a PhD candidate at the University of Maryland, College Park,
      working closely with <a href="https://juliamendelsohn.github.io/" target="_blank" class="highlight-link">Julia Mendelsohn</a>
      and <a href="https://aiwei.me/" target="_blank" class="highlight-link">Wei Ai</a> in our
      <a href="https://wiki.umiacs.umd.edu/clip/index.php/Main_Page" target="_blank" class="highlight-link">CLIP Lab</a>,
      and <a href="https://zhijing-jin.com/home/" target="_blank" class="highlight-link">Zhijing Jin</a> at the University of Toronto.
    </h2>
    <div class="intro__image">
      <img src="../img/headshot_kem.jpg" alt="Phuong-Anh Nguyen-Le" />
    </div>
  </div>

  <h3 class="intro__contact">
    <span>Contact me at</span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:nlpa@umd.edu" target="_blank" class="highlight-link">nlpa@umd.edu</a>
    </span>
  </h3>
</header>
